# Explore TMY3

The following notes are based on https://github.com/NREL/hsds-examples/blob/master/notebooks/03_NSRDB_introduction.ipynb

```bash
pip install --upgrade h5pyd

hsconfigure
    hs_endpoint = https://developer.nrel.gov/api/hsds
    hs_username = None
    hs_password = None
    hs_api_key = YOUR-API-KEY (see https://developer.nrel.gov/signup)
```

In [7]:
import h5pyd
import pandas as pd

In [8]:
f = h5pyd.File('/nrel/nsrdb/v3/nsrdb_2019.h5', 'r')

In [9]:
f.attrs['version']

'3.1.1'

In [10]:
list(f)

['air_temperature',
 'alpha',
 'aod',
 'asymmetry',
 'cld_opd_dcomp',
 'cld_reff_dcomp',
 'clearsky_dhi',
 'clearsky_dni',
 'clearsky_ghi',
 'cloud_press_acha',
 'cloud_type',
 'coordinates',
 'dew_point',
 'dhi',
 'dni',
 'fill_flag',
 'ghi',
 'meta',
 'ozone',
 'relative_humidity',
 'solar_zenith_angle',
 'ssa',
 'surface_albedo',
 'surface_pressure',
 'time_index',
 'total_precipitable_water',
 'wind_direction',
 'wind_speed']

In [11]:
f['time_index'].shape

(17520,)

In [12]:
f['meta'].shape

(2018392,)

In [13]:
f['air_temperature'].shape

(17520, 2018392)

In [14]:
f['time_index'][:1]

array([b'2019-01-01 00:00:00'], dtype='|S20')

In [15]:
time_index = pd.to_datetime(f['time_index'][...].astype(str))
time_index

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 00:30:00',
               '2019-01-01 01:00:00', '2019-01-01 01:30:00',
               '2019-01-01 02:00:00', '2019-01-01 02:30:00',
               '2019-01-01 03:00:00', '2019-01-01 03:30:00',
               '2019-01-01 04:00:00', '2019-01-01 04:30:00',
               ...
               '2019-12-31 19:00:00', '2019-12-31 19:30:00',
               '2019-12-31 20:00:00', '2019-12-31 20:30:00',
               '2019-12-31 21:00:00', '2019-12-31 21:30:00',
               '2019-12-31 22:00:00', '2019-12-31 22:30:00',
               '2019-12-31 23:00:00', '2019-12-31 23:30:00'],
              dtype='datetime64[ns]', length=17520, freq=None)

In [16]:
pd.DataFrame(f['meta'][:1])

,latitude,longitude,elevation,timezone,country,state,county,urban,population,landcover
0,-19.99,-175.259995,0.0,13,b'None',b'None',b'None',b'None',-9999,210

In [17]:
f['air_temperature'][0, 0]

266

In [18]:
f['air_temperature'][17519, 2018391]

192

In [19]:
pd.DataFrame(f['meta'][:10])

,latitude,longitude,elevation,timezone,country,state,county,urban,population,landcover
0,-19.99,-175.259995,0.0,13,b'None',b'None',b'None',b'None',-9999,210
1,-19.99,-175.220001,0.0,13,b'None',b'None',b'None',b'None',-9999,210
2,-19.99,-175.179993,0.0,13,b'None',b'None',b'None',b'None',-9999,210
3,-19.99,-175.139999,0.0,13,b'None',b'None',b'None',b'None',-9999,210
4,-19.99,-175.100006,0.0,13,b'None',b'None',b'None',b'None',-9999,210
5,-19.99,-175.059998,0.0,13,b'None',b'None',b'None',b'None',-9999,210
6,-19.99,-175.020004,0.0,13,b'None',b'None',b'None',b'None',-9999,210
7,-19.99,-174.979996,0.0,13,b'None',b'None',b'None',b'None',-9999,210
8,-19.99,-174.940002,0.0,13,b'None',b'None',b'None',b'None',-9999,210
9,-19.99,-174.899994,0.0,13,b'None',b'None',b'None',b'None',-9999,210