In [1]:
from pytrends.request import TrendReq
r = TrendReq()

In [2]:
r.build_payload(kw_list=['pizza', 'bagel'])

In [3]:
interest_over_time_df = r.interest_over_time()

In [12]:
interest_over_time_df.tail(n=10)

            pizza  bagel isPartial
date
2021-01-17     78      2     False
2021-01-24     79      2     False
2021-01-31     77      2     False
2021-02-07     80      2     False
2021-02-14     82      2     False
2021-02-21     75      2     False
2021-02-28     75      2     False
2021-03-07     75      2     False
2021-03-14     78      2     False
2021-03-21     72      2      True

In [13]:
interest_by_region_df = r.interest_by_region()
interest_by_region_df.head()

                pizza  bagel
geoName
Afghanistan         0      0
Albania             0      0
Algeria             0      0
American Samoa      0      0
Andorra             0      0

In [15]:
related_queries_dict = r.related_queries()
related_queries_dict

{'pizza': {'top':                      query  value
  0                pizza hut    100
  1            pizza near me     38
  2            dominos pizza     33
  3                  dominos     33
  4           pizza delivery     16
  5               papa pizza     10
  6        pizza hut near me      8
  7              pizza dough      7
  8            pizza express      6
  9             pizza recipe      6
  10            pizza places      6
  11            pizza online      6
  12              papa johns      6
  13             pizza crust      6
  14              pizza oven      5
  15          little caesars      5
  16            domino pizza      5
  17    little caesars pizza      5
  18              pizza city      5
  19          pizza hut menu      5
  20  pizza delivery near me      5
  21        delivery near me      4
  22            boston pizza      4
  23      pizza hut delivery      4
  24          new york pizza      4,
  'rising':                      query  value
  0          ooni pizza oven   3250
  1        mod pizza near me   1600
  2       best pizza near me    900
  3            fathead pizza    650
  4       pizza shop near me    600
  5       pizza near me open    500
  6               dodo pizza    450
  7                 pizza 4p    450
  8                mod pizza    450
  9               pizza cosy    450
  10           pizza near me    400
  11            food near me    400
  12     pizza deals near me    400
  13   dominos pizza near me    350
  14            pizza nearby    350
  15         dominos near me    350
  16     little ceaser pizza    350
  17   cicis pizza locations    300
  18     pizza place near me    300
  19        delivery near me    250
  20  pizza delivery near me    250
  21    domino pizza near me    250
  22    dominos pizza online    250
  23     dominos pizza carte    250
  24          boneless pizza    250},
 'bagel': {'top':                          query  value
  0                    the bagel    100
  1               bagel calories     78
  2                       bagels     74
  3             everything bagel     74
  4                     bagel me     71
  5                bagel near me     67
  6                   bagel shop     55
  7           coffee meets bagel     53
  8                 bagel recipe     50
  9                   bagel cafe     46
  10                  best bagel     38
  11           calories in bagel     38
  12             bagel seasoning     38
  13              einstein bagel     36
  14              new york bagel     32
  15  everything bagel seasoning     32
  16                 bagel bites     30
  17                   egg bagel     29
  18                 bagel bread     27
  19                  bagel deli     27
  20                    ny bagel     26
  21              brooklyn bagel     24
  22                what a bagel     24
  23             manhattan bagel     23
  24         calories in a bagel     22,
  'rising':                                         query  value
  0                    everything but the bagel  95900
  1          everything but the bagel seasoning  60650
  2              everything but bagel seasoning  59500
  3                  everything bagel seasoning  11850
  4                          2 ingredient bagel  11100
  5                             bagel seasoning  10700
  6                              bagel man card   8100
  7   everything but the bagel seasoning recipe   5800
  8                                  keto bagel   5350
  9                              the bagel nook   4100
  10                            angry bagel guy   3450
  11                        two men bagel house   3300
  12                          keto bagel recipe   3150
  13                              two men bagel   2750
  14          everything bagel seasoning recipe   2300
  15                          skinnytaste bagel   1450
  16                                 bagel nook    850
  17                          breakfast near me    700
  18                     bagel sandwich near me    700
  19                   bagel sandwiches near me    550
  20           how to toast a bagel in the oven    500
  21                    everything bagel recipe    500
  22                        bagel store near me    450
  23                              bagel near me    450
  24                             bagels near me    350}}

In [16]:
trending_searches_df = r.trending_searches()
trending_searches_df.head()

                   0
0  Suez Canal Crisis
1      Derek Chauvin
2         Ever Given
3       Petr Kellner
4         NLE Choppa

In [17]:
today_searches_df = r.today_searches()
today_searches_df.head()

0    Suez Canal Crisis
1        Derek Chauvin
2           Ever Given
3         Petr Kellner
4           NLE Choppa
Name: query, dtype: object

In [8]:
top_charts_df = r.top_charts(2018, hl='en-US', tz=300, geo='GLOBAL')

In [18]:
top_charts_df.head()

           title exploreQuery
0      World Cup
1         Avicii
2     Mac Miller
3       Stan Lee
4  Black Panther

In [9]:
suggestions_dict = r.suggestions(keyword='pizza')

In [19]:
suggestions_dict

[{'mid': '/m/0663v', 'title': 'Pizza', 'type': 'Dish'},
 {'mid': '/m/03clwm', 'title': "Domino's Pizza", 'type': 'Restaurant company'},
 {'mid': '/m/09cfq', 'title': 'Pizza Hut', 'type': 'Restaurant company'},
 {'mid': '/m/020tvm',
  'title': "Papa John's Pizza",
  'type': 'Restaurant company'},
 {'mid': '/m/02hvyj', 'title': 'Mystic Pizza', 'type': '1988 film'}]